@model Minesweeper.Models.GameBoardModel

@*

    Game/Index.cshtml

*@
<style>
    .game-button {
        width: 62px;
        height: 62px;
        margin: 0px;
        padding 0;
        display: inline-block;
        background-color: #ddd;
        align-items: center; /* Vertically center content */
        justify-content: center; /* Horizontally center content */
    }

    .game-button-image {
       /*Make images fit correctly*/
        max-width: 100%;
        max-height: 100%;
    }
    .game-button.inactive {
        
        background-color: #696969;
         cursor: not-allowed;
         
        }
    .game-board {
        /* This will be edited later tyo get bigger when the difficulty has been changed*/
        width: 518px;
        flex-wrap: wrap;
        display: flex;
        grid-template-columns: repeat(@Model.size, 1fr);
    }


</style>
@{
    // store images in variables for more efficient code
    string bombImage = "Bomb.png";
    string flagImage = "Flag.png";
}

<h4>Current Time: @DateTime.Now</h4>
<div class="game-board" id="gameBoardContainer">
    

    @* create the rows and columns to use for the gameboard *@
    @for (int row = 0; row < @Model.size; row++)
    {
        for (int col = 0; col < @Model.size; col++)
        {
            //Using a form to send the col and row to the method
            <form method="post" asp-controller="Game" asp-action="HandleClick">
                <input type="hidden" name="row" value="@row" />
                <input type="hidden" name="col" value="@col" />
                @* if the button has been clicked active will be false so this will change the button look *@
                <button class="game-button @(Model.grid[row, col].active ? "" : "inactive")" type="submit")>
                    

                        @* <img class="game-button-image" src="~/img/@Model.grid[row, col].image" alt="Bomb Image" /> *@

                    @* Label for the buttons when they have been click the live neightbors will show. *@
                    <div class="button-label">
@*                         @if (!Model.grid[row, col].active)
                        {
                            @Model.grid[row, col].liveNeighbors
                        } *@
                    </div>
                </button>
            </form>
        }
    }
</div>
<div style="margin-top: 30px;">
    <a class="btn btn-danger" asp-action="Index" asp-controller="DashBoard">Quit</a>
</div>
