@model Minesweeper.Models.GameBoardModel

@*

    Game/Index.cshtml

*@

<div style="width: 580px; flex-wrap:wrap;">
    @*<h4>timer will go here?</h4>
    <hr />*@
    @for (int row = 0; row < @Model.size; row++)
    {
        for (int col = 0; col < @Model.size; col++)
        {
            <button class="btn btn-primary" type="submit" value="@Model, @Model.grid[row, col].row, @Model.grid[row, col].column"
                    name="buttonNumber" asp-controller="Dashboard" asp-action="HandleClick" style="width: 62px; height: 62px; margin:1px 0px;">

                @* <div class="button-label">
                    @Model.Grid[row, col].Row, @Model.Grid[row, col].Col
                </div> *@

            </button>
        }
    }
</div>
<div style="margin-top: 30px;">
    <a class="btn btn-danger" asp-action="Index" asp-controller="DashBoard">Quit</a>
</div>
