@model Minesweeper.Models.GameBoardModel

@*
    This partial view loads a new minesweeper game board.
*@

<h6>Game loaded at: @DateTime.Now</h6>

<div class="game-board" id="gameBoardContainer">

    @* create the rows and columns to use for the gameboard *@
    @for (int row = 0; row < @Model.Size; row++)
    {
        for (int col = 0; col < @Model.Size; col++)
        {
            <form method="post" asp-controller="Game" asp-action="HandleClick">
                <input type="hidden" name="row" value="@row" />
                <input type="hidden" name="col" value="@col" />
                @* if the button has been clicked active will be false so this will change the button look *@
                <button class="game-button" type="submit">

                    @* Label for the buttons when they have been click the live neightbors will show. *@
                    <div class="button-label">
                    </div>
                </button>
            </form>
        }
    }
</div>

<form asp-action="SaveGame" method="post"> 
    <div>
        <button class="btn btn-info save-game-btn" type="submit">SAVE</button>
        <button class="btn btn-danger quit-game-btn">QUIT</button>
    </div>
</form>